**/*.php
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.pnp.*
.env
node_modules
.idea
build
workspace.code-workspace
generated
file
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
secrets
dist
*.test.ts
.DS_Store
.yarn/install-state.gz
keys/
yarn-error.log
*/**.sh
*/**/prisma/migrations
*/**/prisma/client
.vscode
prisma.sh
*.sh
debug.json
pnpm-lock.yaml
pnpm-lock.yaml
prisma/client